@use "variables" as *;

.login {
  &-form-wrapper {
    @include flexbox(column);
    gap: 8px;
    margin-bottom: 16px;
  }

  &-links {
    color: white;
    list-style-type: none;
    @include flexbox;
    gap: $spacing-lg;
  }
}
