@use "variables" as *;

.login {
  &-input-title {
    font-size: 24px;
  }

  &-input {
    font-size: 16px;
    line-height: 21px;
    padding: 8px;
  }

  &-form-wrapper {
    @include flexbox(column);
    gap: 8px;
    margin-bottom: 16px;
  }

  &-links {
    color: white;
    list-style-type: none;
    @include flexbox(column, center, center);
    gap: 8px;
  }

  &-reset-wrapper {
    @include flexbox;
    margin-top: 16px;
    gap: 8px;
  }
}
